<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.berger.quantumunit">
	
	<!-- To access Google+ APIs: -->
	<uses-permission android:name="android.permission.INTERNET" />
	
	<!--
    android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
    -->
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_quantumunit"
		android:label="@string/app_name"
		android:roundIcon="@drawable/ic_quantumunit"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		
		<meta-data android:name="com.samsung.android.sdk.multiwindow.enable" android:value="true"/>
		<meta-data android:name="android.intent.category.MULTIWINDOW_LAUNCHER" android:value="true"/>
		<meta-data android:name="com.sec.android.intent.category.MULTIWINDOW_LAUNCHER" android:value="true"/>
		
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".LengthConversionActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
	</application>

</manifest>